@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-stack: 'Roboto', sans-serif;
$primary-color: #1e1e1e;
$secondary-color: #5268ed;
$white: #fff;

* { box-sizing: border-box;}

body {
    font-family: $font-stack;
    font-weight: 400;  
    color: $primary-color;
    font-size: 16px;
    line-height: 30px;
}

%text-shared {  
    font-size: 35px;
    text-transform: uppercase;
    color: $primary-color;
}

h1 {
    @extend %text-shared;
}

h2 {
    @extend %text-shared;
    font-size: 25px;
}

h6 {
    font-size: 14px;
    font-weight: 300;
    color: $white;
}
.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#home{
    background: url(../img/banner.jpg) fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 600px;
    color: #fff;
}

header {
    position: relative;
    text-align: center;
}


.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.header-text { 
    font-family: $font-stack;
    font-weight: 700;
    font-size: 4.25vw; 
    color: $white; 
    letter-spacing: 3px;
    text-transform: none;
}

.header-sub-text {
    font-family: $font-stack;
    font-weight: 400;
    font-size: 2.75vw; 
    color: $white; 
}

a {
    color: $primary-color;
}

a:hover {
    color: $secondary-color;
    text-decoration: none;
}

a.nav-link.active {
    color: $secondary-color;
}
.text-main {
    color: $secondary-color;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
    background-color: $white;
    border-color: $primary-color!important;
    border-radius: 12px;
    color: $primary-color;
    font-family: $font-stack;
    height: 40px;
    font-size: 14px;
    line-height: 26px;
    width: 150px;
    text-align: center;
}

.btn.btn-primary:hover {
    background-color: $secondary-color;
    border-color: $secondary-color!important;
    color: $white;
}

.btn.btn-secondary,
.btn.btn-secondary:active,
.btn.btn-secondary:visited,
.btn.btn-secondary:focus {
    background-color: transparent;
    border-color: $white!important;
    border-radius: 12px;
    color: $white;
    font-family: $font-stack;
    height: 40px;
    font-size: 14px;
    line-height: 26px;
    width: 150px;
    text-align: center;
}

.btn.btn-secondary:hover {
    background-color: $white;
    border-color: $white!important;
    color: $primary-color;
}

footer {
    background-color: #101746;
    font-size: 16px;
    color: $white;
}

.footer-text-sm {
    font-size: 14px;
    color: #aaaaaa;
}

footer a, footer a:hover {
    color: $white;
}

ul {
    list-style: none;
    padding-left: 0;
}

.inputBox{
    position: relative;
    box-sizing: border-box;
}
.inputBox .inputText{
    font-family: $font-stack;
    position: absolute;
    font-size: 16px;
    line-height: 40px;
    transition: .5s;

}
.inputBox .input{
    font-family: $font-stack;
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid $primary-color;

}
.focus .inputText{
    transform: translateY(-25px);
    font-size: 16px;
    opacity: 1;
    color: $secondary-color;

}



//.carousel-item {
//  	height: 100vh;
//  	background-size: cover;
//  	background-position: center center;
//  	background-image: url(../img/testimonials.jpg);
//    color: $white;
//}

.carousel-item h2 {
    font-size: 25px;
    color: $white;
    text-transform: none;
}

.carousel-item p {
    font-size: 16px;
    color: $white;
}

.carousel-item h5 {
    font-size: 15px;
    color: $white;
}

.carousel-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


hr.white-line {
    border: 2px solid $white;
    width: 40px;
    opacity: 1;
}

.carousel-bg {
    background-color: #000;
    opacity: 0.7;
    height: auto;
    z-index: -1;
    padding: 50px 50px;
    height: auto;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: 22%;
}


.navbar.solid {
  background-color: #101746;;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

    .navbar-brand {
      transition: color 1s ease 0s;
    }

    .navbar-nav {

       > li {

          > a {
            color: $white;
            transition: color 1s ease 0s;
          }

       } 

    } 
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 
    .carousel-bg {
        height: auto;
    }

    .carousel-indicators {
        bottom: 19%;
    }
}

@media (max-width: 1024px) { 
    .carousel-indicators {
        bottom: 15%;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
    .carousel-indicators {
        bottom: 0;
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
    .carousel-centered {
        position: unset;
        top: unset;
        left: unset;
        transform:unset;
    }

    .carousel-bg {
        opacity: 0.9;
    }


}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    .header-text {
        font-size: 20px;
    }
}





